header {
    width: 1282px;
    height: 593px;
    padding-left: -2px;
    margin: 0 auto;
}


.background {
    width: 1282px;
    height: 128px;
    padding: -2px;
    background-color: #064661;
}

.titulo {
    width: 542px;
    height: 54px;
    padding: 42px 0 0 72px;
    font-family: 'Limelight';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: white;
}

.banner {
    width: 1280px;
    height: 465px;
    padding-top: 128px;
    object-fit: cover;
    
}

.primeiro {
    width: 1138px;
    height: 196px;
    padding: 550px 0 0 72px;
    margin: 0 auto;
}

.titulo1 {
    width: 484px;
    height: 54px;
    color: #064661;
    font-family: 'Limelight';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.text1 {
   width: 1138px;
   height: 120px;
   color: #262626;
   font-family: 'Poppins';
   font-weight: 400;
   font-style: 'Regular'; 
   font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}

.segundo {
    width: 1138px;
    height: 435px;
    padding-top: 100px;
    padding-left: 72px;
    margin: 0 auto;
}

.titulo2 {
    width: 480px;
    height: 54px;
    font-family: 'Limelight';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #064661;
}

.text-image {
    display: flex;
}

.text2 {
    width: 545px;
    height: 361px;
    color: #171d1c;
    font-family: 'Poppins';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}

.resort {
    width: 581px; 
    height: 361px;
    object-fit: cover;
    
    
}

.caixas {
    color: #064661;
    width: 1142px;
    height: 259px;
    padding-top: 100px;
    padding-left: 68px;
    border-radius: 10px;
    margin: 0 auto;
}

.titulo3 {
    width: 1142px;
    height: 54px;
    font-family: 'Limelight';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.cards {
    display: flex;
}

.card1 {
    width: 357px;
    height: 167px;
    border-radius: 10px;
    background-color: #99bedf;
    border-color: #064661;
    border: 3px solid 
}

.label1 {
    width: 282px;
    height: 54px;
    font-family: 'Limelight';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 30px;
    padding-top: 15px;
}

.price1 {
    width: 282px;
    height: 31px;
    padding: 0 15px 0 30px;
    font-family: 'Poppins';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    align-items: center;
    color: #262626;
}
